@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>@Model.Heading</h1>
<ul class="gigs voffset3">
    @foreach (var gig in Model.UpComingGigs)
    {
        <li>

            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                    
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>

                
            </div>

            <div class="details">
                <span class="artist">
                    @gig.Artist.UserName
                    
                    @if (Model.ShowActions)
                    {
                        <a data-user-id="@gig.ArtistId" class="btn btn-link btn-sm pull-right js-toggle-following">Follow</a>

                    }
                    </span>
                <span class="gerne">
                    @gig.Genre.Name
                </span>   
                @if (Model.ShowActions)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going ?</button>
                }
            </div>

        </li>
    }
</ul>

@section scripts{
    <script>

        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                $.post("/api/attendances", { GigId: $(e.target).attr("data-gig-id") })
                .done(function () {
                    $(e.target).removeClass("btn-default").addClass("btn-info").text("Going");
                })
                .fail(function () {
                    alert("Something went wrong!");
                });
            });


            $(".js-toggle-following").click(function (e) {
                $.post("/api/followings", { FolloweeId: $(e.target).attr("data-user-id") })
                .done(function () {
                    $(e.target).text("Following");
                })
                .fail(function () {
                    alert("Something went wrong!");
                });
            });
        });

    </script>
}